


#webnav{
    display:none;
}



.sidenav{
    display:block;
  height: 40%;
  width:0;
  position:fixed;
  z-index: 1;
  top:0;
  left:0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 70px;
  transition: 0.5s;
    
}

.sidenav a{
  padding:13px;
  text-decoration: none;
  text-align:right;
  font-size: 13px;
    text-transform: uppercase;
  font-family: 'Space Mono', monospace;
    font-weight: 500;
  color: white;
  display:block;
  transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #a975ff;
    text-decoration: underline;
}

.sidenav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 30px;
}


.topnav a{
  float: left;
    padding-left:10px;

  
}

#xsvg{
  position:relative;
    top:10px;   
}

svg{
  width: 7%;
  fill: black;
  
   
}

svg:hover{
  fill: #a975ff;
}

#logo{
    display:none;  
}

#blacklogo{
    display:block;
   width:25%;
  margin:0 auto;
    position:relative;
    bottom:20px;
}
.fotorama{
    width:90%;
    margin: 0 auto;
}



.textbox1{

  width:90%;
  margin:0 auto;
height: 130px;
text-align: left;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    
    .textbox1 span{
        position:relative;
        left:10px;
        bottom:10px;
    }
    
    .textbox1 p{
       position:relative;
        bottom:10px;
       padding-left:10px;
    }

.textbox1 h6{
    padding:5px;
}

.imagebox1{
background-image:url('../images/solo.png'); 
background-size: cover;
  width: 80%;
  margin: 0 auto;
    height:200px;
 position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textbox2{
  width:80%;
  height: 120px;
  position: relative;
  margin: 0 auto;
bottom:10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
text-align: left;
}

.textbox2 span{
    position:relative;
    left:10px;
    bottom:10px;
}

.textbox2 p{
    position:relative;
    left:10px;
    bottom:10px;
}


.textbox2 h6{
    padding:5px;
}
   
.imagebox2{
background-image:url('../images/adidas.jpg'); 
background-size: cover;
  width: 80%;
  height: 200px;
  position: relative;
    margin: 0 auto;
    margin-top:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    
.textbox3{
  width:80%;
  height: 120px;
  margin:0 auto;
    position:relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
}
    
 .textbox3 span{
        position:relative;
        left:10px;
     bottom:10px;
    }
    
    .textbox3 p{
        position:relative;
        left:10px;
        bottom:10px;
    }
    .textbox3 h6{
       padding:5px;
    }

h6{
  font-family:'Space Mono', monospace;
    text-transform: uppercase;
}

h6:hover{
  color: #a975ff;
    text-decoration: line-through;
}


h1{
  text-align: center;
    font-size:10px;
  font-family: 'Doppio One', sans-serif;
  text-transform: uppercase;
 
}

h1:hover{
  color: #fff;
  background-color: #9547ff;
}

h2{
font-family: 'Doppio One', sans-serif;
text-transform: uppercase;
padding-left: 5px;
}

h2:hover{
color: #fff;
background-color: #9547ff;
}


p{
  font-family:'Helvetica', sans-serif;
  font-size: 13px;
    font-weight:300;
}

h3{
font-family: 'Doppio One', sans-serif;
text-transform: uppercase;
}

h3:hover{
color: #fff;
background-color: #9547ff;
}

h4{
  font-family: 'Doppio One', sans-serif;
}

h5{
font-family: 'Helvetica', sans-serif;
    font-size:12px;
    font-weight: 300;
}


.simagebox1{
    display:none;

}

.left1{
     display:none;

}


.right1{
     display:none;
  

}

.simagebox2{
     display:none;

}

.left2{
     display:none;
 
  
}

.right2{
     display:none;
  
}

.simagebox3{
     display:none;

}

.left3{
     display:none;


}

.right3{
     display:none;

}


.simagebox4{
     display:none;

}

.left4{
     display:none;


}

.right4{
     display:none;

}

footer{
    display:none;
}

.logo1{
    display:none;
}

.nav2{
   display:none;
}

.nav3{
    display:none;
}

.title{
    display:none;
}

.link{

  font-size:1em;
  font-weight: bold;
  text-decoration: none;
  font-family:'Doppio One', sans-serif;
  color: #000;
    position: relative;
    
}

.link1{
  font-size:1em;
  font-weight: bold;
  text-decoration: none;
  font-family:'Doppio One', sans-serif;
  color: #000;

}

.link2{
  font-size:1.2em;
  font-weight: bold;
  text-decoration: none;
  font-family:'Doppio One', sans-serif;
  color: #000;
  left:40px;
}

.underline {
  background-image: linear-gradient(transparent calc(100% - 10px), #a975ff 10px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 1s;
}

.link:hover .underline {
  background-size: 100% 100%;
}

.link1:hover .underline {
  background-size: 100% 100%;
}

.link2:hover .underline {
  background-size: 100% 100%;
}
    
#arrowsvg svg{
    width:10%;
    left:150px;
    position:relative;
    top:50px;
    fill:black;
}

#arrowsvg svg:hover{
    fill:#a975ff;
}

@media screen and (min-width:500px) {

   
#container1{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    }
    
    
    #boxcontent{
        display: flex;
    justify-content: center;
    align-items: center;   
    }

.sidenav{
  display:none;
}





#webnav{
padding:10px;
 display:block; 
position:relative;
left:400px;
    top:5px;
text-align: left;
   
}
    


#webnav a{
    padding-top:10px;
text-decoration: none;
display:block; 
color:white;
font-family: 'Space Mono', monospace;
font-size:20px;
text-transform: uppercase;
}
    
#webnav a:hover{
color:#a975ff;
text-decoration: line-through;
}




    #xsvg{
        display:none;
    } 
    
#logo{
    display:block;
  width:150px;
  height:60px;
  position: relative;
left:390px;
top:20px;
   
}

    #blacklogo{
        display:none;
    }
body{
  background-image: url('../images/graffiti.jpg');
    background-repeat: no-repeat;
   background-attachment: fixed;
  margin:0;
background-size:cover;
}

    .box{
        display:block;
        background-color: white;
        width:45%;
        margin: 0 auto;
position:relative;
        bottom:275px;
    }

    .fotorama{
        width:80%;
        padding-top:50px;
        margin: 0 auto;
    }
    

.textbox1{

  width:80%;
  padding-left: 10px;
height: 180px;
 margin: 0 auto;
  text-align: left;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    
    .textbox1 span{
        position:relative;
        left:30px;
    }
    
    .textbox1 p{
       position:relative;
    
        left:30px;  
    }

.intextbox1{
  text-align: left;
  position: relative;
  left:5px; 

}


.title1{
font-size: 30px;
text-transform: uppercase;
position: relative;
padding-left:30px;
padding-top:20px;
  
}
    
.imagebox1{
background-image:url('../images/solo.png'); 
background-size: cover;
  width: 40%;
    height:280px;
  right:200px;
 position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textbox2{
  width:40%;
  height: 150px;
  position: relative;
  right:200px;
bottom:10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
text-align: left;
}

.textbox2 span{
    position:relative;
    left:10px;
}

.textbox2 p{
    position:relative;
    left:10px;
}
    
.imagebox2{
background-image:url('../images/adidas.jpg'); 
background-size: cover;
  width: 40%;
  height: 280px;
 left:200px;
    bottom:475px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    
.textbox3{
  width:370px;
  height: 150px;
  position: relative;
  left: 200px;
    bottom:485px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
}
    
 .textbox3 span{
        position:relative;
        left:20px;
    }
    
    .textbox3 p{
        position:relative;

        left:20px;
    }

.title{
    display:block;
font-size: 30px;
text-transform: uppercase;
  position: relative;
  bottom:450px;
  padding-left:30px;
}

.line{
  width:65%;
  height:0.5px;
  background-color: black;
  position: relative;
  bottom: 470px;
}
    
    #simagebox1{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        position:relative;
        bottom:440px;
        
    }

.left1{
     display:block;
background-image: url('../images/cardi.jpg');
background-size:cover;
width:170px;
height:150px;
position: relative;
left:20px;


}


.right1{
     display:block;
 left:50px;

  position: relative;

}

.line1{
  width:65%;
  height:0.75px;
  background-color:black;
  position: relative;
 bottom:430px;
}
    
   #simagebox2{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        position:relative;
       bottom:400px;
        
    }


.left2{
     display:block;
  
  background-image: url('../images/newbalance.jpg');
  position: relative;
    left:20px;
  height:150px;
  width:170px;
  
}

.right2{
     display:block;
  left:50px;
  position: relative;
  height:150px;
    
}

    
   #simagebox3{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        position:relative;
       bottom:340px;
       
        
    }

.left3{
     display:block;
  
  background-image: url('../images/travis.jpg');
background-size:cover;
  position: relative;
  height:150px;
  width:170px;
    left:20px;

 

}

.right3{
     display:block;
 
  position: relative;
  height:150px;
 left:50px;
}

.line2{
  width:65%;
  height:1px;
  background-color: black;
  position: relative;
    bottom:370px;
  
}

.line3{
  width:65%;
  height:1px;
  background-color:black;
  position: relative;
  bottom:310px;
}
    
    
.line4{
  width:65%;
  height:1px;
  background-color:black;
  position: relative;
  bottom:260px;
}
    
    #simagebox4{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        position:relative;
        bottom:280px;
     
    }

.left4{
     display:block;
background-image: url('../images/northface.jpg');
background-size:cover;
width:170px;
height:150px;
position: relative;
left:20px;

}


.right4{
     display:block;
  left:50px;
  position: relative;

}
  

#arrowsvg svg{
    height:80px;
    width:90px;
    position:relative;
    fill:black;
    top:200px;
    left:100px;
}

#arrowsvg svg:hover{
    fill:#a975ff;
}
    
    

footer{
display:block;
 position: relative;
 width:100%;
   
 margin: 0 auto;
 height:280px;
 background-color: black ;

}



#logo1{
    display:block;
  width:130px;
  height:50px;
  position: relative;
 right:300px;
top:30px;
  
    
}

.nav2{
    display:block;
  width:80px;
  height:50px;
  position: relative;
  left: 600px;
bottom:280px;
  
}


.nav2 a{
  text-decoration: none;
text-transform: uppercase;
  font-size: 15px;
  font-family: 'Space Mono', monospace;
  color: white;
  display:block;
  position:relative;
  
}

.nav2 a:hover{
color:#a975ff;
text-decoration: line-through;
}


.nav3{
display:block;
  width:200px;
  height:50px;
  position: relative;
  left: 710px;
  bottom:280px;
}


.nav3 a{
  text-decoration: none;
  font-size: 15px;
  font-family: 'Space Mono', monospace;
  color: white;
  display:block;
text-transform: uppercase;
}


.nav3 a:hover{
color:#a975ff;
text-decoration: line-through;
}
    
 .link{

  font-size:2em;
  
}
    
    .link1{
  font-size:1.5em;
 
}


#arrowsvg svg{
    height:80px;
    width:90px;
    position:relative;
    top:350px;
    right:10px;

}



    
}
