
container{
width: 100%; /* 1280px */
margin: 0 auto;

}




body{
    margin: 0 ;
}

.sidenav{
  height: 35%;
  width:0;
  position:fixed;
  z-index: 1;
  top:0;
  left:0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 70px;
  transition: 0.5s;
    box-shadow: 5px 10px 18px grey;
}

.sidenav a{
  padding:13px;
  text-decoration: none;
  text-align:right;
  font-size: 13px;
    text-transform: uppercase;
  font-family: 'Space Mono', monospace;
    font-weight: 500;
  color: white;
  display:block;
  transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #a975ff;
    text-decoration: underline;
}

.sidenav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 30px;
}




.topnav a{
  float: left;
    padding-left:10px;

  
}


#logo{
  width:23.9425379%;
 position: relative;
   left:150px;
    bottom:33px;
   

}



.fotorama{
width:90%;
height: 300px;
position: relative;
bottom:20px;
    left:17px;
    margin:none;

}

#xsvg{
  position:relative;
    top:10px;   
}

svg{
  width: 6.00672753%;
  height:50px;
fill: black;
  
   
}

svg:hover{
  fill: #a975ff;
}

h6{
  font-family:'Space Mono', monospace;
    text-transform: uppercase;
}

h6:hover{
  color: #a975ff;
    text-decoration: underline;
}


h1{
  text-align: center;
  font-family: 'Doppio One', sans-serif;
  text-transform: uppercase;
 
}

h1:hover{
  color: #fff;
  background-color: #9547ff;
}

h2{
font-family: 'Doppio One', sans-serif;
text-transform: uppercase;
padding-left: 5px;
}

h2:hover{
color: #fff;
background-color: #9547ff;
}


p{
  font-family:'Helvetica', sans-serif;
  font-size: 13px;
    font-weight:300;
}

h3{
font-family: 'Doppio One', sans-serif;
text-transform: uppercase;
}

h3:hover{
color: #fff;
background-color: #9547ff;
}

h4{
  font-family: 'Doppio One', sans-serif;
}

h5{
font-family: 'Helvetica', sans-serif;
    font-size:12px;
    font-weight: 300;
}


footer{
    display:none;


}


.socialmedia{
    display:none;
  
    
}

#logo1{
    display:none;

}


.textbox1{
    height:125px;
    width:335px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  bottom:70px;
    left:17px;
  position: relative;
  text-align: left;
}

.textbox1 span{
    position:relative;
    left:20px;
}

.textbox1 p{
    position:relative;
    left:20px;
}

.intextbox1{
  text-align: left;
  position: relative;
    left:5px;
    top:5px;

}

.intextbox2{
    text-align:left;
    position:relative;
    left:5px;
    top:5px;
}


.title1{
font-size: 20px;
text-transform: uppercase;
margin-left:130px;
position:relative;
    bottom:60px;
}


.imagebox1{
  width: 270px;
  height: 180px;
  left: 50px;
 bottom:40px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#soloimg{
    width:270px;
    height:180px;
}

.textbox2{
  width:270px;
  height: 120px;
  position: relative;
  left: 50px;
    bottom:65px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
text-align: left;
}

.textbox2 span{
    position:relative;
    left:10px;
}

.textbox2 p{
    position:relative;
    left:10px;
}



.imagebox2{
  width: 270px;
  height: 180px;
  left:50px;
  position: relative;
 bottom:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#adidasimg{
    width:270px;
    height:180px;
}

.textbox3{
  width:270px;
  height: 120px;
  position: relative;
bottom:42px;
 left:50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
}

.textbox3 span{
    position:relative;
    left:10px;
}

.textbox3 p{
    position:relative;
    left:10px;
}

.title{
display:none;
}







.underline {
  background-image: linear-gradient(transparent calc(100% - 10px), #a975ff 10px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 1s;
}

.link:hover .underline {
  background-size: 100% 100%;
}

.link1:hover .underline {
  background-size: 100% 100%;
}

.link2:hover .underline {
  background-size: 100% 100%;
}


.link{

  font-size:1.0625em;
  font-weight: bold;
  text-decoration: none;
  font-family:'Doppio One', sans-serif;
  color: #000;
left:40px;
}

.link1{
  font-size:0.9375em;
  font-weight: bold;
  text-decoration: none;
  font-family:'Doppio One', sans-serif;
  color: #000;
  left:40px;
}

.link2{
  font-size:0.8125em;
  font-weight: bold;
  text-decoration: none;
  font-family:'Doppio One', sans-serif;
  color: #000;
  left:40px;
}






.simagebox1{
    display:none;

}

.left1{
     display:none;

}


.right1{
     display:none;
  

}

.simagebox2{
     display:none;

}

.left2{
     display:none;
 
  
}

.right2{
     display:none;
  
}

.simagebox3{
     display:none;

}

.left3{
     display:none;


}

.right3{
     display:none;

}


#arrowsvg svg{
    height:60px;
    width:70px;
    position:relative;
    left:140px;
    fill:black;
}


@media screen and (min-width:500px) {



#container{
    min-height:1500px;
    }

.sidenav{
  height: 40%;
  width:0;
  position:fixed;
  z-index: 1;
  top:0;
  left:0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 70px;
  transition: 0.5s;
    box-shadow: 3px 5px 5px grey;
}

.sidenav a{
  padding:13px;
  text-decoration: none;
  text-align:right;
  font-size: 13px;
    text-transform: uppercase;
  font-family: 'Space Mono', monospace;
    font-weight: 500;
  color: white;
  display:block;
  transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #a975ff;
    text-decoration: underline;
}

.sidenav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 30px;
}

.icon{
  width: 30px;
  height: 30px;
  top: 40px;
}


.topnav a{
  float: left;
  display: block;
  padding: 14px 16px;
  
}


   
    
#logo{
  width:150px;
  height:50px;
  position: relative;
  left:485px;
    top:5px;
}


body{
  background-image: url('../images/graffiti1.png');
  margin:0;
  height:2000px;
  width:1000px;
  background-size: cover;
}

.box{
background-color: #fff;
width:900px;
height: 1980px;
    position:relative;
left:150px;
margin:0 auto;
}

.fotorama{
width:700px;
height: 430px;
position: relative;
left:70px;
height: 430px;
position: relative;
top: 20px;
    right:20px;
    
}

.textbox1{

  width:700px;
  padding-left: 10px;
height: 180px;
  position: relative;
    top:20px;
left:95px;
  text-align: left;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    
    .textbox1 span{
        position:relative;
        left:30px;
    }
    
    .textbox1 p{
       position:relative;
        top:10px;
        left:30px;  
    }

.intextbox1{
  text-align: left;
  position: relative;
  left:5px; 

}

.intextbox2{
  text-align: left;
  position: relative;
  top:5px;
}

.imagebox1{
  width: 370px;
  height: 250px;
  left: 50px;
  top:60px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    
    #soloimg{
        width:370px;
        height:250px;
    }

.textbox2{
  width:370px;
  height: 160px;
  position: relative;
  left: 50px;
  top:40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
}
    
    
    .textbox2 span{
        position:relative;
        left:20px;
    }
    
    .textbox2 p{
        position:relative;
        top:10px;
        left:20px;
    }

.imagebox2{
  width: 370px;
  height: 250px;
  left: 460px;
  position: relative;
  bottom: 374.5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    
    #adidasimg{
        width:370px;
        height:250px;
    }

.textbox3{
  width:370px;
  height: 160px;
  position: relative;
  left: 460px;
  bottom: 395px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
}
    
 .textbox3 span{
        position:relative;
        left:20px;
    }
    
    .textbox3 p{
        position:relative;
        top:10px;
        left:20px;
    }

.line{
  width:560px;
  height:2px;
  background-color: #f3f3f3;
  position: relative;
  bottom: 400px;
}

.line1{
  width:560px;
  height:2px;
  background-color: #f3f3f3;
  position: relative;
  top:170px;
}


.line2{
  width:560px;
  height:2px;
  background-color: #f3f3f3;
  position: relative;
  top:80px;
}

.line3{
  width:560px;
  height:2px;
  background-color: #f3f3f3;
  position: relative;
  top:370px;
}

.simagebox1{
    display:block;
  bottom:380px;
  position: relative;
}

.left1{
     display:block;
background-image: url('../images/selena.jpg');
width:170px;
height:150px;
float:left;
position: relative;
left:20px;
}


.right1{
     display:block;
  float:right;
  right:390px;
  bottom:20px;
  position: relative;

}

.simagebox2{
     display:block;
bottom:490px;
position: relative;
}

.left2{
     display:block;
  float:left;
  background-image: url('../images/newbalance.jpg');
  position: relative;

    left:20px;
  height:150px;
  width:170px;
  
}

.right2{
     display:block;
  float:right;
  position: relative;
  height:150px;
  right:340px;
    bottom:20px;
}

.simagebox3{
     display:block;
bottom:100px;
position: relative;
height:300px;
}

.left3{
     display:block;
  float:left;
  background-image: url('../images/northface.jpg');
  position: relative;
  height:150px;
  width:170px;
    right:150px;
    top:105px;
 

}

.right3{
     display:block;
  float:right;
  position: relative;
  height:150px;
  bottom:60px;
  right:45px;
}

.title{
    display:block;
font-size: 30px;
text-transform: uppercase;
  height:50px;
  width:300px;
  position: relative;
  bottom:400px;
  left:20px;
}


.title1{
font-size: 30px;
text-transform: uppercase;
position: relative;
height:5px;
  width:300px;
  right:110px;
    top:10px;
}

.link{

  font-size:2em;
  font-weight: bold;
  text-decoration: none;
  font-family:'Doppio One', sans-serif;
  color: #000;
left:40px;
}

.link1{
  font-size:1.5em;
  font-weight: bold;
  text-decoration: none;
  font-family:'Doppio One', sans-serif;
  color: #000;
  left:40px;
}

.link2{
  font-size:1.2em;
  font-weight: bold;
  text-decoration: none;
  font-family:'Doppio One', sans-serif;
  color: #000;
  left:40px;
}

.underline {
  background-image: linear-gradient(transparent calc(100% - 10px), #a975ff 10px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 1s;
}

.link:hover .underline {
  background-size: 100% 100%;
}

.link1:hover .underline {
  background-size: 100% 100%;
}

.link2:hover .underline {
  background-size: 100% 100%;
}


footer{
display:block;
 position: relative;
 width:900px;
 left:150px;
 margin: 0 auto;
 height:130px;
 background-color: black ;

}


.socialmedia{
    display:block;
  width:120px;
  height:30px;
  position: relative;
 right:130px;
  top:70px;
}

#logo1{
    display:block;
  width:130px;
  height:47px;
  position: relative;
    right:140px;
bottom:10px;
    
}

.nav2{
  width:70px;
  height:50px;
  position: relative;
  left: 600px;
  
}


.nav2 a{
  text-decoration: none;
  font-size: 12px;
  font-family: 'Space Mono', monospace;
  color: white;
  display:block;
  transition: 0.3s;
  position:relative;
  bottom:70px;
}

.nav2 a:hover{
color:#a975ff;
}


.nav3{
  width:200px;
  height:50px;
  position: relative;
  left: 720px;
  bottom:85px;
}


.nav3 a{
  text-decoration: none;
  font-size: 12px;
  font-family: 'Space Mono', monospace;
  color: white;
  display:block;
  transition: 0.3s;
}


.nav3 a:hover{
color:#a975ff;
}

    
    
    #xsvg{
        position:relative;
      
    }   
    
    

svg{
  width: 50px;
  height:50px;
fill: #f3f3f3;
}

svg:hover{
  fill: #a975ff;
}




#arrowsvg svg{
    height:80px;
    width:90px;
    position:relative;
    bottom:90px;
    left:230px;
    fill:black;
}

#arrowsvg svg:hover{
    fill:#a975ff;
}
}